table.sample {
  width: 225px;
	border-width: 1px;
	border-spacing: 2px;
	border-style: dotted;
	border-color: gray;
	border-collapse: collapse;
	background-color: white;
}

table.sample td {
  font-size: 9px;
	border-width: 1px;
	padding: 5px;
	border-style: dotted;
	border-color: gray;
	-moz-border-radius: 0px 0px 0px 0px;
  text-align: left;
}